<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @meta_service.name %>
    </title>

    <link rel="stylesheet" type="text/css" href="<%= css_path %>" />
  </head>
  <body>
    <div id="page">
      <div id="content">
        <h1>
          <%= @meta_service.name %>
        </h1>

        <%= description %>

        <h2>
          Services
        </h2>

        <ul>
          <% services.each do |serv| %>
            <li>
              <h3>
                <%= serv.name_as_link %>
              </h3>
            </li>
          <% end %>
        </ul>

        <h2>
          Endpoints
        </h2>

        <% endpoints.each do |endpoint_ary| %>
          <h3>
            <%= endpoint_ary.first.prefix %>
          </h3>
          <ul>
          <% endpoint_ary.each do |endpoint| %>
            <li>
              <%= endpoint.name_as_link %>
            </li>
          <% end %>
          </ul>
        <% end %>

        <% if discussion %>
          <h2>
            Discussion
          </h2>
          <%= discussion %>
        <% end %>
      </div>
    </div>
  </body>
</html>

