<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @service.name %>
    </title>

    <link rel="stylesheet" type="text/css" href="<%= css_path %>" />
  </head>
  <body>
    <div id="page">
      <div id="content">
        <h1>
          <%= @service.name %>
        </h1>

        <div id="nav">
          <% if @service.meta_service %>
            <a href="<%= index_path %>">
              &#187; <%= @service.meta_service.name %>
            </a>
          <% end %>
        </div>

        <%= description %>

        <%= tag_with_anchor('h2', 'Endpoints') %>

        <% endpoints.each do |endpoint_ary| %>
          <%= tag_with_anchor('h3', endpoint_ary.first.prefix) %>
          <ul>
          <% endpoint_ary.each do |endpoint| %>
            <li>
              <%= endpoint.name_as_link %>
            </li>
          <% end %>
          </ul>
        <% end %>

        <% if discussion %>
          <%= tag_with_anchor('h2', 'Discussion') %>
          <%= discussion %>
        <% end %>
      </div>
    </div>
  </body>
</html>

