<html>
  <head>
    <title><%= "API Documentation: #{@resource["Resource Name"]}" %></title>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <div id="page">
      <h1><%= @resource["Base Path"] %></h1>
      <p><%= @resource["Abstract"] %></p>

      <h2>Methods</h2>
      <p>Jump to a method</p>
      <ul id="toc">
        <% @resource["Methods"].each do |details| %>
          <li><%= "<a href=\"##{details["Name"]}\">#{details["Verb"]} #{@resource["Base Path"]}/#{details["Name"]}</a>" %></li>
        <% end %>
      </ul>

      <% @resource["Methods"].each do |details| %>
        <%= "<h3 id=\"#{details["Name"]}\">#{details["Verb"]} #{@resource["Base Path"]}/#{details["Name"]}</h3>" %>

        <h4>Parameters</h4>
        <ul class="parameters">
          <% details["Parameters"].each do |param_details| %>
            <li><tt><%= param_details["Name"] %></tt>
              <ul>
                <% # TODO: break out special values, don't just iterate? '%>
                <% param_details.each do |attribute, value| %>
                  <li><%= "#{attribute}: #{value}" %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
    
        <h4>Response</h4>

        <% (details["Response"] || {}).each do |response| %>
          <h5><%= response["Status"] %></h5>
        <% end %>

      <% end %>
    </div> <!-- #page -->
  </body>
</html>