<html>
  <head>
    <title><%= "API Documentation: #{@resource.name}" %></title>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <div id="page">
      <h1><%= @resource.base_path %></h1>
      <p><%= @resource.abstract %></p>

      <h2>Methods</h2>
      <p>Jump to a method</p>
      <ul id="toc">
        <% @resource.actions.each do |mthod| %>
          <li><%= "<a href=\"##{mthod.name}\">#{mthod.verb} #{@resource.base_path}/#{mthod.name}</a>" %></li>
        <% end %>
      </ul>

      <% @resource.actions.each do |mthod| %>
        <%= "<h3 id=\"#{mthod.name}\">#{mthod.verb} #{@resource.base_path}/#{mthod.name}</h3>" %>


        <% ["Request", "Response"].each do |parameter_type| %>
          <% if mthod.method("#{parameter_type.downcase}_parameters").call.length > 0 %>
            <h4><%= "#{parameter_type} Parameters" %></h4>
            <% ["Required", "Optional"].each do |required| %>
              <% parameters = mthod.method("#{required.downcase}_#{parameter_type.downcase}_parameters").call %>
              <% if parameters.length > 0%>
                <h5><%= required %></h5>
                <ul>
                  <% parameters.each do |parameter| %>
                    <li><tt><%= parameter.name %></tt>
                      <ul>
                        <% # TODO: break out special values, don't just iterate? '%>
                        <% parameter.raw.each do |attribute, value| %>
                          <li><%= "#{attribute}: #{value}" %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
                
        <h4>Response Codes</h4>

        <% mthod.response_codes.each do |response_code| %>
          <h5><%= response_code.status %></h5>
        <% end %>

      <% end %>
    </div> <!-- #page -->
  </body>
</html>